@model Cahnite.Models.ProjectListViewModel

@{
    ViewBag.Title = "Creating Solutions w/ Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <h1>Kurt Strecker</h1>
    <h2 class="gserif">Creating Solutions with Code</h2>
    <h4>502-468-7387 | kurt@kurtstrecker.io</h4>

</div>
<hr />
<div class="container-fluid center-block">
    <div class="col-sm-offset-2 col-sm-4 text-center">
        <a href="@Url.Action("ProjectCreate", "Projects")">
            <p>
                Create New Project
            </p>
        </a>
    </div>

    <div class="col-sm-4 text-center">
        <a href="@Url.Action("Unpublished", "Projects")">
            <p>
                Unpublished Projects
            </p>
        </a>
    </div>

</div>
<hr />



@*@foreach (var project in Model.Projects)
    {
        <div class="col-sm-4">
            <a href="@Url.Action("ProjectDetail", "Projects", new { ID = project.ID })">
                <div class="text-center">
                    <p>@project.Title</p>
                    <div class="text-center">
                        <img class="img-responsive center-block" src="@project.ImageUrl" alt="testing-placeholder" />
                    </div>
                </div>
            </a>
            <p class="center-block text-center">@project.Intro</p>
        </div>
    }*@

@for (int i = 0; i <= Model.TotalProjects / 3; i++)
{
    int calcFactor = i * 3;

    <div class="row">
        @for (int j = 0; j < 3; j++)
        {
            int index = j + calcFactor;

            if (index < Model.TotalProjects)
            {
                <div class="col-sm-4">
                    <a href="@Url.Action("ProjectDetail", "Projects", new { ID = Model.Projects[index].ID })">
                        <div class="text-center">
                            <p>@Model.Projects[index].Title</p>
                            <div class="text-center">
                                <img class="img-responsive center-block" src="@Model.Projects[index].ImageUrl" alt="testing-placeholder" />
                            </div>
                        </div>
                    </a>
                    <p class="center-block text-center">@Model.Projects[index].Intro</p>
                </div>
            }
            else
            {
                break;
            }

    }
    </div>
}




