@model Cahnite.Models.ProjectListViewModel

@{
    ViewBag.Title = "Edit/Publish Unpublished Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">

    <h4>Edit and/or Publish Non-published Posts</h4>

</div>
<hr />
<div class="new-button text-center">
    <a href="@Url.Action("ProjectCreate", "Projects")">Create New Project</a>
     | 
    <a href="@Url.Action("Index", "Projects")">Back to Index</a>
</div>
<hr />

<div class="container-fluid">

    @foreach (var project in Model.Projects)
    {
        <div class="col-sm-4">
            <a href="@Url.Action("ProjectEdit", "Projects", new { ID = project.ID })">
                <div class="text-center">
                    <p>@project.Title</p>
                    <div class="text-center">
                        <img class="img-responsive center-block" src="@project.ImageUrl" alt="testing-placeholder" />
                    </div>
                </div>
            </a>
            <p class="center-block text-center">@project.Intro</p>
        </div>
    }
</div>



