@model Cahnite.Models.ProjectListViewModel

@{
    ViewBag.Title = "Edit/Publish Unpublished Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">

    <h4>Edit and/or Publish Non-published Posts</h4>

</div>
<hr />
<div class="container-fluid center-block">
    <div class="col-sm-offset-2 col-sm-4 text-center">
        <a href="@Url.Action("ProjectCreate", "Projects")">
            <p>
                Create New Project
            </p>
        </a>
    </div>

    <div class="col-sm-4 text-center">
        <a href="@Url.Action("Index", "Projects")">
            <p>
                Back to Index
            </p>
        </a>
    </div>

</div>
<hr />


@for (int i = 0; i <= Model.TotalProjects / 3; i++)
{
    int calcFactor = i * 3;

    <div class="row">
        @for (int j = 0; j < 3; j++)
        {
            int index = j + calcFactor;

            if (index < Model.TotalProjects)
            {
                <div class="col-sm-4">
                    <a href="@Url.Action("ProjectDetail", "Projects", new { project_url = Model.Projects[index].Url })">
                        <div class="text-center">
                            <p>@Model.Projects[index].Title</p>
                            <div class="text-center">
                                <img class="img-responsive center-block" src="@Model.Projects[index].ImageUrl" alt="testing-placeholder" />
                            </div>
                        </div>
                    </a>
                    <p class="center-block text-center">@Model.Projects[index].Intro</p>
                </div>
            }
            else
            {
                break;
            }

        }
    </div>
}


